apiVersion: v1
kind: Service
metadata:
  name: argo-rollouts-metrics
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: argo-rollouts-metrics
    app.kubernetes.io/part-of: argo-rollouts
spec:
  ports:
  - name: metrics
    protocol: TCP
    port: 8090
    targetPort: 8090
  selector:
    app.kubernetes.io/name: argo-rollouts