apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-rollouts
spec:
  selector:
    matchLabels:
      app: argo-rollouts
  template:
    metadata:
      labels:
        app: argo-rollouts
    spec:
      serviceAccountName: argo-rollouts
      containers:
      - command:
        - "/bin/rollouts-controller"
        image: argoproj/argo-rollouts:latest
        imagePullPolicy: Always
        name: argo-rollouts
