@import '../../shared/styles/colors.scss';

.info-item {
    background-color: $argo-color-gray-4;
    border-radius: 3px;
    border: 1px solid $argo-color-gray-5;
    padding: 5px 7px;
    margin-left: auto;
    margin-right: 5px;
    color: $argo-color-gray-8;
    display: flex;
    align-items: center;

    &--dark {
        background-color: $fog;
        border: 1px solid $silver-lining;
        color: $dull-shine;
    }

    &--colored {
        background-color: $sherbert;
        border: 1px solid $sherbert;
        color: white;
    }

    &--dark#{&}--colored {
        background-color: $spray-tan;
        border: 1px solid $sherbert;
        color: white;
    }

    &--canary {
        background-color: $canary;
        border: 1px solid $canary;
        color: $space;
    }

    &--bluegreen {
        background-color: $sea;
        border: 1px solid $sea;
        color: white;
    }

    &--row {
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        flex-grow: 1;
        label {
            margin-right: auto;
            padding-right: 5px;
        }
    }
}
