.vscode/
.idea/
.DS_Store
dist/
*.iml
# delve debug binaries
__debug_bin
cmd/**/debug
debug.test
coverage.out
coverage.html
junit.xml
rerunreport.txt
site/
vendor/
plugin-bin/
# static
server/static/*
!server/static/.gitkeep
