@import '../../shared/styles/colors.scss';

.tooltip {
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    bottom: 100%;
    z-index: 2;
    background-color: $slate;
    white-space: nowrap;
    color: white;
    border: 1px solid $slate;
    &--dark {
        border: 1px solid $dull-shine;
    }

    &--inverted {
        top: 100%;
        bottom: auto;
    }
}
