@import '../../shared/styles/colors.scss';

.loading-bar {
    background-color: $argo-color-gray-4;
    border-radius: 3px;
    height: 7px;
    overflow: hidden;
    width: 350px;
    will-change: opacity;
    &--dark {
        background-color: $slate;
    }
    &__fill {
        transform-origin: left;
        background-color: $sherbert;
        height: 100%;
        width: 1px;

        &--loaded {
            transform: scaleX(350);
        }
    }

    &--loaded {
        opacity: 0;
    }
}
