version: 2.1
jobs:
  build:
    working_directory: /go/src/github.com/argoproj/argo-rollouts
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.13.1
    resource_class: xlarge
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS
      - restore_cache:
          keys:
            - v3-pkg-cache
      - run:
          name: Install kustomize
          command: |
            cd $HOME
            curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
      - run: go get github.com/jstemmer/go-junit-report
      - run: go get github.com/golangci/golangci-lint/cmd/golangci-lint
      - run:
          command: dep ensure
      - run:
          name: Run tests
          command: |
            set -x
            trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
            make test | tee ${TEST_RESULTS}/go-test.out
      - store_test_results:
          path: /tmp/test-results
      - run:
          name: Uploading code coverage
          command: bash <(curl -s https://codecov.io/bash) -f coverage.out
          # This occasionally takes 2m
          background: true
      - run:
          command: make lint
      - run:
          name: Check nothing has changed after lint
          command: git diff --exit-code
      - save_cache:
          key: v3-pkg-cache
          paths:
            - /go/pkg
            - ~/.cache/go-build
workflows:
  version: 2
  workflow:
    jobs:
      - build
