@import '../../shared/styles/colors.scss';

.effect-div {
    position: relative;
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        will-change: transform;
        transition: transform 0.1s ease-out;
        pointer-events: none;
    }
}
