@import '../../shared/styles/colors.scss';

.rollouts-header {
    display: flex;
    background: $slate;
    color: white;
    align-items: center;
    padding: 10px 0;

    &__brand {
        color: $shine;
        display: flex;
        align-items: center;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    h1 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        font-size: 18px;
        color: $sherbert;
        margin: 0;
        margin-left: 10px;
    }

    &__info {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    &__version {
        color: $shine;
        margin: 0 15px;
    }
}
