@import '../../shared/styles/colors.scss';

.input-container {
    min-width: 0;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $argo-color-gray-3;
    border: 1px solid $argo-color-gray-5;
    color: $argo-color-gray-7;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 12px;
    .input {
        box-sizing: border-box;
        width: 100%;
        appearance: none;
        min-width: 0;
        border: none;
        background: none;
        outline: none;
        padding: 0;
    }

    &__icon {
        margin-right: 10px;
        padding-bottom: 2px;
        font-size: 15px;
        color: $argo-color-gray-7;
    }

    input::placeholder {
        color: $argo-color-gray-6;
    }

    &--dark {
        background-color: $space;
        border: 1px solid $silver-lining;
        color: $shine;

        .input-container__icon {
            color: $shine;
        }

        input::placeholder {
            color: $dull-shine;
        }
    }
}
