@import '../../shared/styles/colors.scss';

.pods {
    margin-top: 10px;
    border: 1px solid $silver-lining;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: $space;
    padding: 7px;
    .pod-icon {
        margin: 3px;
    }
}

.rollouts-list {
    display: flex;
    padding: 20px;
    &__widget {
        text-decoration: none;
        border: 1px solid $silver-lining;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 1px 0px 4px 1px $space;
        color: $dull-shine;
        font-size: 14px;
        margin-right: 20px;
        &:hover {
            border-color: $spray-tan;
        }

        header {
            color: $shine;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            border-bottom: 1px solid $silver-lining;
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
        }

        &__body {
            width: 300px;
        }

        &__actions {
            display: flex;
            align-items: center;
            margin-top: 1em;
        }
    }
}
