@import '../../shared/styles/colors.scss';

.pods {
    margin-top: 10px;
    border: 1px solid $argo-color-gray-5;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: $argo-color-gray-3;
    padding: 7px;
    .pod-icon {
        margin: 3px;
    }
    &--dark {
        border-color: $silver-lining;
        background-color: $space;
    }
}

.rollouts-list {
    display: flex;
    padding: 20px;
    &__widget {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid $argo-color-gray-4;
        font-size: 14px;
        margin-right: 20px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
        color: $argo-color-gray-7;
        background-color: white;

        &--dark {
            border-color: $silver-lining;
            box-shadow: 1px 2px 3px 1px $space;
            color: $dull-shine;
            background: none;
        }

        &:hover,
        &--selected {
            border-color: $sherbert;
        }

        &--dark:hover,
        &--dark#{&}--selected {
            border-color: $spray-tan;
        }

        &__refresh {
            &:hover {
                color: $sherbert;
            }
        }

        header {
            color: $argo-color-gray-8;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            border-bottom: 1px solid $argo-color-gray-4;
            padding-bottom: 0.5em;
            margin-bottom: 0.5em;
        }

        &--dark header {
            color: $shine;
            border-bottom: 1px solid $silver-lining;
        }

        &__body {
            width: 300px;
        }

        &__actions {
            display: flex;
            align-items: center;
            margin-top: 1em;
        }
    }
}
