@import 'node_modules/argo-ux/styles/colors';

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    button,
    form,
    input,
    textarea {
        appearance: none;
        -webkit-appearance: none;
        color: inherit;
        font: inherit;
        margin: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

#root {
    height: 100%;
}

.rollouts {
    height: 100%;
    overflow-y: auto;
    font-family: 'Heebo', sans-serif;
    background-color: $argo-color-gray-3;

    &--dark {
        background-color: $midnight-sky;
    }
}
