@import '../../shared/styles/colors.scss';

.menu {
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    top: 100%;
    z-index: 2;
    background-color: white;
    color: $argo-color-gray-7;
    border: 1px solid $argo-color-gray-4;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
    width: 150px;

    &__item {
        width: 100%;
        padding: 0.5em 0;
        cursor: pointer;

        &__label {
            display: inline-block;
            margin-left: 10px;
        }
    }

    &--dark {
        border: 1px solid $silver-lining;
        background-color: $slate;
        color: white;
    }
}
