name: Go
on:
  push:
    branches:
      - 'master'
      - 'release-*'
  pull_request:
    branches:
      - 'master'
jobs:
  lint-go:
    name: Lint Go code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.30
          args: --timeout 5m
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Restore go build cache
      uses: actions/cache@v2.1.4
      with:
        path: ~/.cache/go-build
        key: ${{ runner.os }}-go-build-v1-${{ github.run_id }}

    - name: Download all Go modules
      run: |
        go mod download

    - name: Compile all packages
      run: make controller plugin

    - name: Test
      run: go test -failfast -covermode=count -coverprofile=coverage.out ./...

    - name: Generate code coverage artifacts
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage
        path: coverage.out

    - name: Upload code coverage information to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: coverage.out

  codegen:
    name: Verify Codegen
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Golang
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - name: Download & vendor dependencies
        run: |
          # We need to vendor go modules for codegen yet
          go mod download
          go mod vendor -v
      - name: Run codegen
        run: |
          make codegen
          make manifests
      - name: Ensure nothing changed
        run: git diff --exit-code
