$argo-color-gray-1: #f8fbfb;
$argo-color-gray-2: #eff3f5;
$argo-color-gray-3: #dee6eb;
$argo-color-gray-4: #ccd6dd;
$argo-color-gray-5: #8fa4b1;
$argo-color-gray-6: #6d7f8b;
$argo-color-gray-7: #495763;
$argo-color-gray-8: #363c4a;
$argo-color-gray-9: #000000;

$argo-color-teal-1: #f5fbfd;
$argo-color-teal-2: #dff6f9;
$argo-color-teal-3: #bdecf2;
$argo-color-teal-4: #99e1ea;
$argo-color-teal-5: #1fbdd0;
$argo-color-teal-6: #00a2b3;
$argo-color-teal-7: #006f8a;
$argo-color-teal-8: #004c67;

$white-color: #ffffff;

// Status colors
$argo-failed-color: #e96d76;
$argo-failed-color-dark: #c04b4f;
$argo-failed-color-light: #ff6262;
$argo-status-failed-color: #ef0b28;
$argo-color-red: #f00052;

$argo-success-color: #18be94;
$argo-success-color-dark: #3f946d;
$argo-success-color-light: #95d58f;
$argo-status-success-color: #0d8d38;
$argo-color-green: #7ed321;

$argo-status-warning-color: #f4c030;
$argo-color-yellow: #ffd100;

$argo-running-color-dark: #378398;
$argo-running-color-light: #02c4d3;
$argo-running-color: #0dadea;

$argo-waiting-color-dark: $argo-color-gray-6;
$argo-waiting-color-light: $argo-color-gray-5;
$argo-waiting-color: $argo-color-gray-5;
$argo-cancelled-color: $argo-color-gray-5;
$argo-init-color: $argo-color-gray-5;

// Dark Mode
$space: #09090f;
$midnight-sky: #0e0e14;
$slate: #191826;
$shine: #dad6e7;
$dull-shine: #abb2b9;
$silver-lining: #30303d;
$fog: #22212d;
$glow: #434355;

// Highlights
$spray-tan: #8b4329;
$sherbert: #f07548;
$peach: #fd8a5f;

// Statuses
$lime: #3eb74f;
$grass: #339440;
$leaf: #246b2d;
$forest: #12221e;

$sky: #58a6fe;
$sea: #3a5e88;
$deep-sea: #172636;

$coral: #f85149;
$clay: #9e3d38;
$dirt: #22141a;

$canary: #e4aa37;
